- if @user.bio
    %p #{@user.bio}
- else 
    %p #{@user.first_name} #{@user.last_name}
    %hr
    %i{:class => "fas fa-birthday-cake icon_bio"}
    %p #{@user.birthday.strftime("%B %d, %Y")}
- if @user.location
    %i{:class => "fas fa-compass icon_bio"}
    %p #{@user.location}
- if @user.site
    %i{:class => "fas fa-link icon_bio"}
    =link_to @user.site, "http://#{@user.site}", class: "link_bio"
