.profile_banner{:style => "background-image: url(#{@user.banner.url})"}
    = render 'profile-banner'

.card.small-margin-top.small-margin-bottom
    .purple_heading
        %h2 About
    .card-body.profile_info--bio
        = render 'bio'

.card.small-margin-top.small-margin-bottom
    .purple_heading
        %h2 Photos
    = render 'photos'

.card.small-margin-top.small-margin-bottom
    .purple_heading
        %h2 Friends (#{@user.friendships.length})
    = render 'friends'