.profile_banner{:style => "background-image: url(#{@user.banner.url})"}
    = render 'profile-banner'

.card.small-margin-top.small-margin-bottom
    .purple_heading
        %h2 About
    .card-body.profile_info--bio
        = render 'bio'

= render 'photos'
= render 'friends'