.card
    .card-body
        %p{:class => "tertiary"} Create Post
        = render 'posts/form'

- @posts.each do |p|
    .card
        .card-body
            %h5{:class => "card-title"} #{current_user.first_name} #{current_user.last_name}
            %h6{:class => "card-subtitle"} #{time_ago_in_words(p.created_at)}
            .card-text
                = p.body
   
