- @posts.each do |p|
    .card.small-margin-bottom
        .card-body{:id => "#{p.id}"}
            .post_user
                =image_tag @user.avatar.url, class: "post_user--avatar"
                .post_user--details
                    %h5{:class => "card-title"} #{@user.first_name} #{@user.last_name}
                    
                    %h6{:class => "card-subtitle"} #{time_ago_in_words(p.created_at)} ago
            %hr
            = p.body
        .card-text
            - if p.image?
                =image_tag p.image.url(:large), class: "post_image"
        .card-body.post_response
            - @post = p
            = render '/posts/like'
            