// --- Posts --- \\ 
- @posts.each do |p|
    - @user = User.find_by(id: p.user_id)
    .card.small-margin-bottom
        - if p.user_id == current_user.id
            .post_buttons
                =link_to "Edit", edit_post_path(p.id), class: "btn form_btn form_btn--tiny"
                =link_to "Delete", post_path(p.id), method: :delete, data: {confirm: "Are you sure you want to delete this post?"}, class: "btn form_btn form_btn--tiny"
        .card-body{:id => "#{p.id}"}
            .post_user
                =image_tag @user.avatar.url, class: "post_user--avatar"
                .post_user--details
                    =link_to(user_path(@user.id), class: "link_purple") do 
                        %h5{:class => "card-title"} #{@user.first_name} #{@user.last_name}
                    %h6{:class => "card-subtitle"} #{time_ago_in_words(p.created_at)} ago
            %hr
            = p.body
        .card-text
            - if p.image?
                =link_to post_path(p.id) do 
                    =image_tag p.image.url(:large), class: "post_image"
            - @post = p
            = render '/posts/like'
            